.m-social
  position: absolute
  bottom: 0
  left: 0
  display: flex
  padding: 15px
  z-index: 99999
  @include bp-table
    padding: 7px 5px
  &-icon
    width: 35px
    height: 35px
    background: $darkgray
    font-size: 16px
    color: $pale
    padding: 10px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    margin-right: 7px
    transition: background ease 0.5s
    &:last-child
      margin-right: 0
    &:hover
      background: rgba($darkgray, 0.5)

.m-result
  &__social
    @include bp-table
      margin-top: 3vw
    &-title
      font-size: 12px
      font-family: "mpb"
      color: #000
      text-transform: uppercase
      line-height: 2
      text-align: center
      @include bp-table
        font-size: 10px
    &-icons
      display: flex
      justify-content: center
      align-items: center
    &-icon
      width: 35px
      height: 35px
      background: $green
      font-size: 16px
      color: #fff
      padding: 10px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-right: 7px
      transition: background ease 0.5s
      @include bp-mob
        height: 25px
        width: 25px
        font-size: 14px
      &:last-child
        margin-right: 0
      &:hover
        background: rgba($green, 0.7)
