.m-social
  position: fixed
  bottom: 0
  left: 0
  display: flex
  padding: 15px
  z-index: 99999
  &-icon
    width: 35px
    height: 35px
    background: $darkgray
    font-size: 16px
    color: $pale
    padding: 10px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    margin-right: 7px
    transition: background ease 0.5s
    &:hover
      background: rgba($darkgray, 0.5)
